@model VTORRES_PruebaProgreso1.Models.Torres

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Torres</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soltero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soltero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Cedula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
